name: Cypress Tests with HTML Report

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 21
          
      - name: Remove package.lock
        run: rm -rf package-lock.json
        
      - name: Install dependencies
        run: npm ci

      - name: Install mochawesome
        run: npm install --save-dev mochawesome mochawesome-merge mochawesome-report-generator

      - name: Run Cypress tests & generate report
        run: npm test

      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: cypress-html-report
          path: cypress/reports/*.html
